body {
    background-color: black;
    font-color: darkturquoise;
    text-align: left;
    margin-top: 100px;
    margin-left: 50px;
}

h2 {
    color: darkturquoise;
    text-align: center;
}

h4 {
    text-align: center;
    font-size: 120%
}

p {
    color: darkturquoise;
    font-size: 110%;
}

a {
    font-color: darkturquoise;
    text-decoration: none;
}

a:hover {
    color: aqua;
}
