{% load static %}
<!doctype html>
<html lang="en">
    <head style="background-color: red">
        <link
            rel="stylesheet"
            href="{% static 'week_days/css/styles.css'%}"
            type="text/css"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Git</title>
    </head>
    <body>
        <h2>Добро пожаловать в приложение «Список дел»</h2>
        <p>Здесь будут показаны все ваши дела на ближайшую неделю</p>
    </body>
</html>
