{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head style="background-color: red">
        <link
            rel="stylesheet"
            href="{% static 'css/main.css' %}"
            type="text/css"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body><div class="header">
  {% include 'includes/header.html' %}
</div>

<div class="row">
  <div class="leftcolumn">
      {% block content %} {% endblock %}
<!--    <div class="card">-->
<!--      <h2>TITLE HEADING</h2>-->
<!--      <h5>Title description, Dec 7, 2017</h5>-->
<!--      <div class="fakeimg" style="height:200px;">Image</div>-->
<!--      <p>Some text..</p>-->
<!--    </div>-->
<!--    <div class="card">-->
<!--      <h2>TITLE HEADING</h2>-->
<!--      <h5>Title description, Sep 2, 2017</h5>-->
<!--      <div class="fakeimg" style="height:200px;">Image</div>-->
<!--      <p>Some text..</p>-->
<!--    </div>-->
  </div>
  <div class="rightcolumn">
    {% include 'includes/right_column.html' %}
  </div>
</div>

<div class="footer">
  {% include 'includes/footer.html' %}
</div>
    </body>
</html>
