{% load static %}
<!doctype html>
<html lang="en">
    <head style="background-color: red">
            <link
                rel="stylesheet"
                href="{% static 'blog/css/styles.css' %}"
                type="text/css"
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <div class="header">
          <h2>Blog Name</h2>
        </div>

        <div class="row">
            {% block content %}
            {% endblock %}
        </div>

        <div class="footer">
          <h2>Footer</h2>
        </div>
    </body>
</html>
