{% load static %}
<!doctype html>
<html lang="en">
    <head style="background-color: red">
        <link
            rel="stylesheet"
            href="{% static 'git_commands/css/styles.css'%}"
            type="text/css"
        />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Git</title>
    </head>
    <body>
        <h2>Git commands</h2>
        <ul>
            <li><a href="/git/synch">Synch</a></li>
            <li><a href="/git/save">Save</a></li>
            <li><a href="/git/publish">Publish</a></li>
            <li><a href="/git/branches">Branches</a></li>
            <li><a href="/git/bash">Bash</a></li>
            <li><a href="/git/navigation">Navigation</a></li>
        </ul>
    </body>
</html>
